@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

.box{
    width: 1000px;
    margin: 100px auto 0;
}
.box img {
    width: 320px;
    height: 250px;
    border: 1px solid azure;
    box-shadow: -10px -10px 10px rgba(39, 69, 88,0.6);
    transition: all 0.3s linear;
}

img:nth-child(odd) {
    transform: rotate(20deg);
}

img:nth-child(even) {
    transform: rotate(-20deg);
}

img:hover {
    transform:rotate(90deg) scale(1.3);
    position: relative;
    z-index: 2;
}